*, ::after, ::before {
    box-sizing: border-box;
    align-items: end;
  }
  body{
    background-color: whitesmoke;
  }
  .carousel-item
    {
      height: 600px;
     
    }
    .carousel-item
    {
      background-image: url(./17.jpg);
      background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-size: 100% 100%;
      opacity: 80%;
    }
    .carousel_s
    {
      text-align: left;
      font-size: 80px;
      font-weight: 700;
      margin-top: -20%;
      color: orange;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-style: oblique;
    }

    .col-sm {
        align: center;
    }

    .row {
        flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    }

    .row .car {
    
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      flex: 0 0 100%;
      transition: 0.3s;
      width: 60%;
      border-radius: 60px;;

    background-color: honeydew;
    padding: 40px;
    padding-right: 7%;
    justify-content: space-between;
    flex: 0 0 calc(10% - 5px);
    max-width: calc(99% - 40px);
    max-height: calc(40% - 10px);
    margin-bottom: 10%;
    border: 1px solid #ad0b0b;
    text-align: center;
    position: relative;
    border-radius: 10px;
    text-align: center;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
    }

    .row .car::before{
        content: '';
        height: 2px;
        background-color: maroon;
        position: absolute;
        bottom: 0px;
        width: 10px;
        left: 0;
        right: 0;
        margin: auto;
        transition: all .5s ease;
    }

    .row .car:hover::before{
        width: 100%;
    }

    .row .car .card-body .icon{
        height: 60px;
        width: 60px;
        background-color: crimson;
        margin: 15px auto 25px;
        border-radius: 50%;
        text-align: center;
    }

    .row .car .card-body .icon .fa{
        font-size: 25px;
        color: #ffffff;
        line-height: 60px;
    }

    .row .car .icon .card-text {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        margin: 0;
    text-align: center;
    }
    
    .row .car:hover {
      box-shadow: 0 8px 16px 0 rgba(53, 101, 213, 0.7);
    }
      
    footer {
      background-color: rgb(142, 198, 238);;
      text-align: center;
      padding: 3px;
      color: white;
    }
    .car h1
    {
      margin-top: -8%;
    }
  @media only screen and (max-width: 600px) {
    .carousel-item
    {
      height: 300px;
    }
    .break
    {
      margin-top: 10%;
      margin-left:10%;
    }
    .breake{
      margin-left:10%;
    }
    .carousel_s
    {
      text-align: left;
      font-size: larger;
      margin-top: -10%;
    }
    .carousel-item
    {
     background-size: 100% 50%; 
    }
  }